@media (max-width: 767.98px) {



    .main {
        display: block;
        grid-template-rows: repeat(10, 1fr);
        grid-template-columns: 1fr;
    }

    nav {

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

    }



    nav a {
        /* margin-top: 50px; */
        align-items: center;
        justify-content: center;


    }

    #box11~.list {
        display: block;
        height: 170px;
        width: 100%;
        background-position: center;
        background-size: cover;
        justify-content: center;
        align-items: center;
    }

    .logo {
        display: none;

    }
}
@media (max-width: 575.98px) { 
    nav a {
        /* margin-top: 50px; */
        align-items: center;
        justify-content: center;
        font-size: 70%;


    }

}